* {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  max-width: 100%;
  max-height: 100%;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  background: linear-gradient(to right, yellow, violet);
  color: white;
  background-color: #a4508b;
  overflow: hidden;
  padding: 2rem;
}

a.syl {
  position: fixed;
  top: 0.5rem;
  left: 1rem;
  font-size: 2em;
  color: white;
}

#bg {
  position: fixed;
  inset: 0;
  z-index: -2;
  opacity: 0.2;
  background: url(https://t3.ftcdn.net/jpg/03/70/69/30/360_F_370693015_KQJzbGL0RFlV8v5Mg2AmnozboTh1MOpX.jpg);
  background-size: cover;
  animation: wave2 40s ease-in-out infinite alternate;
  background-position: center;
  filter: blur(1px);
}

#timer {
  font-size: 15vmin;
  text-align: center;
  z-index: 2;
  position: relative;
  top: 1.5em;
  filter: drop-shadow(3px 3px 2px violet);
  /*   background:black; */
  animation: wave 3s infinite alternate;
}

#banner {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 1em;
  left: 0;
  right: 0;
  padding: 0.5rem;
  text-align: right;
}

#banner a {
  color: white;
}

#banner:hover {
  filter: drop-shadow(0 0 0 black);
}

#banner a:hover {
  color: yellow;
}

#subject {
  position: absolute;
  color: black;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  /*   opacity: 0.7; */
  font-size: 23vmin;
  z-index: -1;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  outline: black 5px solid;
  padding: 1.5rem;
  color: black;
}

@keyframes wave {
  to {
    transform: translateY(1rem) rotate(1deg);
  }
}

@keyframes wave2 {
  to {
    transform: translateY(1rem) rotate(30deg) scale(2);
  }
}

#date {
  position: fixed;
  top: 1rem;
  right: 1.2rem;
  font-size: 3vmin;
}

button {
  display: inline;
  padding: 0.5em 1em;
  position: fixed;
  top: 3rem;
  left: 1rem;
  background: black;
  color: white;
  border: none;
}
